@charset "utf-8";
/* CSS Document */

.th {background:url(../img/topbg.gif) repeat; color:#CCC; font-weight:bold;}
.th td {padding-left:5px;}
.title { background-color:#F0F0F0}
#trust_heading
{
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	font-size:14px;
	color:#F00;
}
