DIV.rounded-boxview {
	MARGIN: 0px; WIDTH: 100%; POSITION: relative; BACKGROUND-COLOR: #ffcc00
}
DIV.rounded-box {
	MARGIN: 3px; WIDTH: 350px; POSITION: relative; BACKGROUND-COLOR: #ff9900
}
DIV.rounded-box1 {
	MARGIN: 0px; WIDTH: 850px; POSITION: relative; BACKGROUND-COLOR: #ffcc00
}
DIV.rounded-box11 {
	MARGIN: 0px; WIDTH: 1000px; POSITION: relative; BACKGROUND-COLOR: #ffcc00
}
DIV.rounded-box2 {
	MARGIN: 3px; WIDTH: 320px; POSITION: relative; BACKGROUND-COLOR: #ffcc00
}
DIV.rounded-box3 {
	MARGIN: 0px; WIDTH: 850px; POSITION: relative; BACKGROUND-COLOR: #ff9900
}
DIV.rounded-box33 {
	MARGIN: 0px; WIDTH: 850px; POSITION: relative; BACKGROUND-COLOR: #ffffff
}
DIV.rounded-box31 {
	MARGIN: 0px; WIDTH: 1000px; POSITION: relative; BACKGROUND-COLOR: #ff9900
}
DIV.rounded-box4 {
	MARGIN: 3px; WIDTH: 450px; POSITION: relative; HEIGHT: 300px; BACKGROUND-COLOR: #ffffff
}
DIV.rounded-box5 {
	MARGIN: 0px; WIDTH: 850px; POSITION: relative; BACKGROUND-COLOR: #ebebeb
}
DIV.rounded-box51 {
	MARGIN: 0px; WIDTH: 1000px; POSITION: relative; BACKGROUND-COLOR: #ebebeb
}
DIV.rounded-box6 {
	MARGIN: 3px; WIDTH: 250px; POSITION: relative; BACKGROUND-COLOR: #ffcc00
}
DIV.rounded-boxreg {
	MARGIN: 3px; WIDTH: 100%; POSITION: relative; BACKGROUND-COLOR: #ffffcc
}
DIV.rounded-boxview {
	MARGIN: 3px; WIDTH: 100%; POSITION: relative; BACKGROUND-COLOR: #ffffff
}
DIV.top-left-corner {
	OVERFLOW: hidden; WIDTH: 20px; POSITION: absolute; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff
}
DIV.bottom-left-corner {
	OVERFLOW: hidden; WIDTH: 20px; POSITION: absolute; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff
}
DIV.top-right-corner {
	OVERFLOW: hidden; WIDTH: 20px; POSITION: absolute; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff
}
DIV.bottom-right-corner {
	OVERFLOW: hidden; WIDTH: 20px; POSITION: absolute; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff
}
DIV.top-left-corner1 {
	OVERFLOW: hidden; WIDTH: 20px; POSITION: absolute; HEIGHT: 20px; BACKGROUND-COLOR: #ff9900
}
DIV.bottom-left-corner1 {
	OVERFLOW: hidden; WIDTH: 20px; POSITION: absolute; HEIGHT: 20px; BACKGROUND-COLOR: #ff9900
}
DIV.top-right-corner1 {
	OVERFLOW: hidden; WIDTH: 20px; POSITION: absolute; HEIGHT: 20px; BACKGROUND-COLOR: #ff9900
}
DIV.bottom-right-corner1 {
	OVERFLOW: hidden; WIDTH: 20px; POSITION: absolute; HEIGHT: 20px; BACKGROUND-COLOR: #ff9900
}
DIV.top-left-corner2 {
	OVERFLOW: hidden; WIDTH: 20px; POSITION: absolute; HEIGHT: 20px; BACKGROUND-COLOR: #ebebeb
}
DIV.bottom-left-corner2 {
	OVERFLOW: hidden; WIDTH: 20px; POSITION: absolute; HEIGHT: 20px; BACKGROUND-COLOR: #ebebeb
}
DIV.top-right-corner2 {
	OVERFLOW: hidden; WIDTH: 20px; POSITION: absolute; HEIGHT: 20px; BACKGROUND-COLOR: #ebebeb
}
DIV.bottom-right-corner2 {
	OVERFLOW: hidden; WIDTH: 20px; POSITION: absolute; HEIGHT: 20px; BACKGROUND-COLOR: #ebebeb
}
DIV.top-left-cornerreg {
	OVERFLOW: hidden; WIDTH: 20px; POSITION: absolute; HEIGHT: 20px; BACKGROUND-COLOR: #ff9900
}
DIV.bottom-left-cornerreg {
	OVERFLOW: hidden; WIDTH: 20px; POSITION: absolute; HEIGHT: 20px; BACKGROUND-COLOR: #ff9900
}
DIV.top-right-cornerreg {
	OVERFLOW: hidden; WIDTH: 20px; POSITION: absolute; HEIGHT: 20px; BACKGROUND-COLOR: #ff9900
}
DIV.bottom-right-cornerreg {
	OVERFLOW: hidden; WIDTH: 20px; POSITION: absolute; HEIGHT: 20px; BACKGROUND-COLOR: #ff9900
}
DIV.top-left-cornerview {
	OVERFLOW: hidden; WIDTH: 20px; POSITION: absolute; HEIGHT: 20px; BACKGROUND-COLOR: #ff9900
}
DIV.bottom-left-cornerview {
	OVERFLOW: hidden; WIDTH: 20px; POSITION: absolute; HEIGHT: 20px; BACKGROUND-COLOR: #ff9900
}
DIV.top-right-cornerview {
	OVERFLOW: hidden; WIDTH: 20px; POSITION: absolute; HEIGHT: 20px; BACKGROUND-COLOR: #ff9900
}
DIV.bottom-right-cornerview {
	OVERFLOW: hidden; WIDTH: 20px; POSITION: absolute; HEIGHT: 20px; BACKGROUND-COLOR: #ff9900
}
DIV.top-left-corner0 {
	OVERFLOW: hidden; WIDTH: 20px; POSITION: absolute; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff
}
DIV.bottom-left-corner0 {
	OVERFLOW: hidden; WIDTH: 20px; POSITION: absolute; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff
}
DIV.top-right-corner0 {
	OVERFLOW: hidden; WIDTH: 20px; POSITION: absolute; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff
}
DIV.bottom-right-corner0 {
	OVERFLOW: hidden; WIDTH: 20px; POSITION: absolute; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff
}
DIV.top-left-inside {
	FONT-SIZE: 150px; COLOR: #ffcc00; LINE-HEIGHT: 40px; FONT-FAMILY: arial; POSITION: relative
}
DIV.bottom-left-inside {
	FONT-SIZE: 150px; COLOR: #ffcc00; LINE-HEIGHT: 40px; FONT-FAMILY: arial; POSITION: relative
}
DIV.top-right-inside {
	FONT-SIZE: 150px; COLOR: #ffcc00; LINE-HEIGHT: 40px; FONT-FAMILY: arial; POSITION: relative
}
DIV.bottom-right-inside {
	FONT-SIZE: 150px; COLOR: #ffcc00; LINE-HEIGHT: 40px; FONT-FAMILY: arial; POSITION: relative
}
DIV.top-left-inside1 {
	FONT-SIZE: 150px; COLOR: #ffcc00; LINE-HEIGHT: 40px; FONT-FAMILY: arial; POSITION: relative
}
DIV.bottom-left-inside1 {
	FONT-SIZE: 150px; COLOR: #ffcc00; LINE-HEIGHT: 40px; FONT-FAMILY: arial; POSITION: relative
}
DIV.top-right-inside1 {
	FONT-SIZE: 150px; COLOR: #ffcc00; LINE-HEIGHT: 40px; FONT-FAMILY: arial; POSITION: relative
}
DIV.bottom-right-inside1 {
	FONT-SIZE: 150px; COLOR: #ffcc00; LINE-HEIGHT: 40px; FONT-FAMILY: arial; POSITION: relative
}
DIV.top-left-inside2 {
	FONT-SIZE: 150px; COLOR: #ff9900; LINE-HEIGHT: 40px; FONT-FAMILY: arial; POSITION: relative
}
DIV.bottom-left-inside2 {
	FONT-SIZE: 150px; COLOR: #ff9900; LINE-HEIGHT: 40px; FONT-FAMILY: arial; POSITION: relative
}
DIV.top-right-inside2 {
	FONT-SIZE: 150px; COLOR: #ff9900; LINE-HEIGHT: 40px; FONT-FAMILY: arial; POSITION: relative
}
DIV.bottom-right-inside2 {
	FONT-SIZE: 150px; COLOR: #ff9900; LINE-HEIGHT: 40px; FONT-FAMILY: arial; POSITION: relative
}
DIV.top-left-inside4 {
	FONT-SIZE: 150px; COLOR: #ffffff; LINE-HEIGHT: 40px; FONT-FAMILY: arial; POSITION: relative
}
DIV.bottom-left-inside4 {
	FONT-SIZE: 150px; COLOR: #ffffff; LINE-HEIGHT: 40px; FONT-FAMILY: arial; POSITION: relative
}
DIV.top-right-inside4 {
	FONT-SIZE: 150px; COLOR: #ffffff; LINE-HEIGHT: 40px; FONT-FAMILY: arial; POSITION: relative
}
DIV.bottom-right-inside4 {
	FONT-SIZE: 150px; COLOR: #ffffff; LINE-HEIGHT: 40px; FONT-FAMILY: arial; POSITION: relative
}
DIV.top-left-inside5 {
	FONT-SIZE: 150px; COLOR: #ebebeb; LINE-HEIGHT: 40px; FONT-FAMILY: arial; POSITION: relative
}
DIV.bottom-left-inside5 {
	FONT-SIZE: 150px; COLOR: #ebebeb; LINE-HEIGHT: 40px; FONT-FAMILY: arial; POSITION: relative
}
DIV.top-right-inside5 {
	FONT-SIZE: 150px; COLOR: #ebebeb; LINE-HEIGHT: 40px; FONT-FAMILY: arial; POSITION: relative
}
DIV.bottom-right-inside5 {
	FONT-SIZE: 150px; COLOR: #ebebeb; LINE-HEIGHT: 40px; FONT-FAMILY: arial; POSITION: relative
}
DIV.top-left-insidereg {
	FONT-SIZE: 150px; COLOR: #ffffcc; LINE-HEIGHT: 40px; FONT-FAMILY: arial; POSITION: relative
}
DIV.bottom-left-insidereg {
	FONT-SIZE: 150px; COLOR: #ffffcc; LINE-HEIGHT: 40px; FONT-FAMILY: arial; POSITION: relative
}
DIV.top-right-insidereg {
	FONT-SIZE: 150px; COLOR: #ffffcc; LINE-HEIGHT: 40px; FONT-FAMILY: arial; POSITION: relative
}
DIV.bottom-right-insidereg {
	FONT-SIZE: 150px; COLOR: #ffffcc; LINE-HEIGHT: 40px; FONT-FAMILY: arial; POSITION: relative
}
DIV.top-left-insideview {
	FONT-SIZE: 150px; COLOR: #ffffff; LINE-HEIGHT: 40px; FONT-FAMILY: arial; POSITION: relative
}
DIV.bottom-left-insideview {
	FONT-SIZE: 150px; COLOR: #ffffff; LINE-HEIGHT: 40px; FONT-FAMILY: arial; POSITION: relative
}
DIV.top-right-insideview {
	FONT-SIZE: 150px; COLOR: #ffffff; LINE-HEIGHT: 40px; FONT-FAMILY: arial; POSITION: relative
}
DIV.bottom-right-insideview {
	FONT-SIZE: 150px; COLOR: #ffffff; LINE-HEIGHT: 40px; FONT-FAMILY: arial; POSITION: relative
}
DIV.top-left-corner {
	LEFT: 0px; TOP: 0px
}
DIV.bottom-left-corner {
	LEFT: 0px; BOTTOM: 0px
}
DIV.top-right-corner {
	RIGHT: 0px; TOP: 0px
}
DIV.bottom-right-corner {
	RIGHT: 0px; BOTTOM: 0px
}
DIV.top-left-inside {
	LEFT: -8px
}
DIV.bottom-left-inside {
	LEFT: -8px; TOP: -17px
}
DIV.top-right-inside {
	LEFT: -25px
}
DIV.bottom-right-inside {
	LEFT: -25px; TOP: -17px
}
DIV.top-left-corner5 {
	LEFT: 0px; TOP: 0px
}
DIV.bottom-left-corner5 {
	LEFT: 0px; BOTTOM: 0px
}
DIV.top-right-corner5 {
	RIGHT: 0px; TOP: 0px
}
DIV.bottom-right-corner5 {
	RIGHT: 0px; BOTTOM: 0px
}
DIV.top-left-inside5 {
	LEFT: -8px
}
DIV.bottom-left-inside5 {
	LEFT: -8px; TOP: -17px
}
DIV.top-right-inside5 {
	LEFT: -25px
}
DIV.bottom-right-inside5 {
	LEFT: -25px; TOP: -17px
}
DIV.top-left-corner0 {
	LEFT: 0px; TOP: 0px
}
DIV.bottom-left-corner0 {
	LEFT: 0px; BOTTOM: 0px
}
DIV.top-right-corner0 {
	RIGHT: 0px; TOP: 0px
}
DIV.bottom-right-corner0 {
	RIGHT: 0px; BOTTOM: 0px
}
DIV.top-left-corner1 {
	LEFT: 0px; TOP: 0px
}
DIV.bottom-left-corner1 {
	LEFT: 0px; BOTTOM: 0px
}
DIV.bottom-left-corner2 {
	LEFT: 0px; BOTTOM: 0px
}
DIV.top-right-corner1 {
	RIGHT: 0px; TOP: 0px
}
DIV.bottom-right-corner1 {
	RIGHT: 0px; BOTTOM: 0px
}
DIV.bottom-right-corner2 {
	RIGHT: 0px; BOTTOM: 0px
}
DIV.top-left-inside4 {
	LEFT: -8px
}
DIV.bottom-left-inside4 {
	LEFT: -8px; TOP: -17px
}
DIV.top-right-inside4 {
	LEFT: -25px
}
DIV.bottom-right-inside4 {
	LEFT: -25px; TOP: -17px
}
DIV.top-left-inside1 {
	LEFT: -8px
}
DIV.bottom-left-inside1 {
	LEFT: -8px; TOP: -17px
}
DIV.bottom-left-inside2 {
	LEFT: -8px; TOP: -17px
}
DIV.top-right-inside1 {
	LEFT: -25px
}
DIV.bottom-right-inside1 {
	LEFT: -25px; TOP: -17px
}
DIV.bottom-right-inside2 {
	LEFT: -25px; TOP: -17px
}
DIV.top-left-cornerreg {
	LEFT: 0px; TOP: 0px
}
DIV.bottom-left-cornerreg {
	LEFT: 0px; BOTTOM: 0px
}
DIV.top-right-cornerreg {
	RIGHT: 0px; TOP: 0px
}
DIV.bottom-right-cornerreg {
	RIGHT: 0px; BOTTOM: 0px
}
DIV.top-left-insidereg {
	LEFT: -8px
}
DIV.bottom-left-insidereg {
	LEFT: -8px; TOP: -17px
}
DIV.top-right-insidereg {
	LEFT: -25px
}
DIV.bottom-right-insidereg {
	LEFT: -25px; TOP: -17px
}
DIV.top-left-cornerview {
	LEFT: 0px; TOP: 0px
}
DIV.bottom-left-cornerview {
	LEFT: 0px; BOTTOM: 0px
}
DIV.top-right-cornerview {
	RIGHT: 0px; TOP: 0px
}
DIV.bottom-right-cornerview {
	RIGHT: 0px; BOTTOM: 0px
}
DIV.top-left-insideview {
	LEFT: -8px
}
DIV.bottom-left-insideview {
	LEFT: -8px; TOP: -17px
}
DIV.top-right-insideview {
	LEFT: -25px
}
DIV.bottom-right-insideview {
	LEFT: -25px; TOP: -17px
}
DIV.box-contents {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; COLOR: #006600; PADDING-TOP: 8px; POSITION: relative
}
DIV.box-contents1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; COLOR: #006600; PADDING-TOP: 0px; POSITION: relative
}
